*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 50px;
}
.jss1{
  font-size: 40px;
  font-weight: 400;
}
.name{
  font-family: "Great Vibes", cursive;
}
.leftcont{
  display: flex;
  justify-content: flex-start;
  flex: 35% 1;
  height: 100%;
  width: 100%;
  align-items: flex-end;
  background-color: rgb(245, 101, 57);
}